.loading_Container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading_Spinner {
    width: 450px;
    height: 450px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}