.loading_Container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading_Spinner {
    width: 450px;
    height: 450px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.navigation_homepage {
    display: none;
    flex-direction: column;
    align-items: center;
}

.loading_Button {
    background: rgba(255, 255, 255, 0.382);
    border-radius: 50px;
    padding: 8px;
    margin: 16px;
}

.search img {
    width: 40px;
    height: auto;
}