@media (min-width: 1440px) {
    .overlay_Content {
        height: 75vh;
    }
}

@media (max-width: 600px) {
    .loading_Spinner {
        width: 300px;
        height: 300px;
    }

    .overlay_Content {
        width: 400px;
        margin: 16px;
    }

    .top_area_img_Ref {
        height: 150px;
    }

    .top_area_overlay img {
        max-width: 150px;
    }
}

@media (max-width: 440px) {
    p {
        font-size: 16px;
    }

    h2 {
        font-size: 20px;
    }

    .search input {
        width: 200px;
    }

    .thumbnail {
        width: 240px;
        height: 260px;
        margin: 8px;
    }

    .thumbnail_Image {
        height: 150px;
        width: 150px;
    }

    .loading_Spinner {
        width: 250px;
        height: 250px;
    }

    .overlay_Content {
        padding: 16px;
        width: auto;
        height: 80vh;
        box-sizing: unset;
    }

    .navigation_icons img {
        width: 18px;
        height: 18px;
    }

    .top_area_img_Ref {
        height: 100px;
    }

    .top_area_overlay img {
        max-width: 100px;
    }

    .overlay_Types {
        padding: 0;
    }

    .bot_area_overlay {
        margin-top: 0;
    }

    .bot_area_separation img {
        width: 24px;
        height: 24px;
    }

    .about_Stats {
        margin-top: 8px;
    }

    .about {
        margin: 4px;
    }

    .stats {
        margin: 0;
    }

    .progressbar_Ref {
        height: 16px;
    }

    .appearance img {
        width: 80px;
        height: 80px;
    }
}