@media (max-width: 600px) {
    .loading_Spinner {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 400px) {
    .search input {
        width: 200px;
    }

    .thumbnail {
        width: 240px;
        height: 260px;
        margin: 8px;
    }

    .thumbnail_Image {
        height: 150px;
        width: 150px;
    }

    .loading_Spinner {
        width: 250px;
        height: 250px;
    }

    .overlay_Content {
        padding: 16px;
        width: 300px;
        height: 70vh;
        margin: 16px;
        scrollbar-width: none;
    }

    .navigation_icons img {
        width: 20px;
        height: 20px;
    }

    .top_area_overlay img {
        max-width: 150px;
    }

    .bot_area_separation img {
        width: 24px;
        height: 24px;
    }

    .appearance img {
        width: 90px;
        height: 90px;
    }
}