.overlay_Ref {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.overlay_Content {
    background-color: rgba(255, 255, 255, 0.767);
    padding: 12px;
    border-radius: 10px;
    width: 450px;
    height: 85vh;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
    box-sizing: border-box;
    margin: 24px;
    border: 15px solid silver;
    scrollbar-width: none;
}

.no_Scroll {
    overflow: hidden;
    height: 100vh;
}

.navigation_icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.navigation_icons img {
    width: 24px;
    height: 24px;
}

.top_area_overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}

.pkm_Infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pkm_Number_Overlay {
    font-weight: bold;
}

.top_area_img_Ref {
    margin: 8px 0 8px 0;
    border: 3px solid silver;
    border-radius: 5px;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.top_area_overlay img {
    max-width: 180px;
    height: 100%;
}

.top_types {
    width: 100%;
    text-align: center;
}

.overlay_Types {
    padding: 2px;
    border-radius: 5px;
}

.bot_area_overlay {
    margin-top: 16px;
}

.bot_area_separation {
    display: flex;
    justify-content: space-between;
}

.bot_area_separation img {
    width: 32px;
    height: 32px;
}

.tabs_container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.tablinks {
   background: none;
   border-color: silver;
}

.about {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.sound_Buttons_Ref {
    display: flex;
    justify-content: space-evenly;
}

.sound_Button {
    background: none;
    border-color: silver;
}

.stats {
    margin: 4px;
}

.progressbar_Ref {
    width: 100%;
    border-radius: 15px;
    border: 1px solid #c0c0c0;
}

.progressbar {
    background: #C0C0C0;
    border-radius: 15px;
    background: linear-gradient(134deg,rgba(192, 192, 192, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(200, 200, 200, 1) 100%);
}

.appearance {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 8px;
}

.appearance img {
    width: 100px;
    height: 100px;
}

.navigation_icons img:hover {
    cursor: pointer;
}