.overlay_Ref {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.671);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.overlay_Content {
    background-color: rgba(255, 255, 255, 0.767);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

.no_Scroll {
    overflow: hidden;
    height: 100vh;
}

.navigation_icons {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.top_area_overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_types {
    display: flex;
    gap: 16px;
}

.top_area_overlay img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.bot_area_overlay {
    margin-top: 16px;
}

.navigation_stats {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.stats_ref {
    display: flex;
    justify-content: space-between;
}