body {
    background-image: url(../assets/img/pokemon-1624022_1920.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header,
footer {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    min-height: calc(100vh - 240px);
}

.total_Ref {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.thumbnail {
    width: 280px;
    height: 400px;
    margin: 16px;
    border-radius: 20px;
    padding: 16px;
}