body {
    background-image: url(../assets/img/pokemon-1624022_1920.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* color: white; */
}

header {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    min-height: calc(100vh - 370px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

h3 {
    text-align: center;
    font-size: 20px;
    margin: 8px;
}

h4 {
    font-size: 18px;
}

.header_Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.header_Logo img {
    height: auto;
    width: 80px;
    padding: 8px;
}

.search {
    display: flex;
    gap: 16px;
}

.search input {
    width: 250px;
    background: none;
    color: white;
    text-align: center;
}

.total_Ref {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.thumbnail {
    width: 280px;
    height: 300px;
    margin: 16px;
    border-radius: 15px;
    padding: 16px;
}

.pkm_Number {
    display: flex;
    justify-content: end;
    font-weight: bold;
}

.thumbnail_Image_Ref {
    display: flex;
    justify-content: center;
}

.thumbnail_Image {
    height: 200px;
    width: 200px;
}

.thumbnail_Types_Ref {
    display: flex;
    justify-content: center;
    margin: 16px;
    gap: 8px;
}

.thumbnail_Types {
    padding: 8px;
    border-radius: 5px;
}

.thumbnail_Image:hover {
    scale: 1.3;
    cursor: pointer;
}