header, footer{
    height: 120px;
    width: 100%;
    background: #2D6DB6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    min-height: calc(100vh - 240px);
    background: #FFCB00;
}

.total_Ref{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.thumbnail{
    width: 300px;
    height: 300px;
    background: white;
    margin: 8px;
}