header,
footer {
    height: 120px;
    width: 100%;
    background: #2D6DB6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    min-height: calc(100vh - 240px);
    background: #FFCB00;
}

.total_Ref {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.thumbnail {
    width: 300px;
    height: 300px;
    background: white;
    margin: 8px;
}

.loading_Container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading_Spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}